<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">

</script>
</head>
<body>
<h3>查询事件</h3>
<form action="">
<input name="startTime">
<input name="endTime">
<input name="type">
<input name="tags">
<input name="persons">
<input name="content">
</form>
<div>查询</div>
<!-- 列表展示 -->
<div>
<table>
<thead>
<tr>
	<th>时间</th>
	<th>类型</th>
	<th>标签</th>
	<th>参与人员</th>
	<th>内容</th>
	<th>操作</th>
</tr>
</thead>
<tbody>
<tr>
	<td>1</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>	
	<td></td>
</tr>
<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tbody>
</table>

</div>
</body>
</html>